body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #484848;
  line-height: 1.5;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a:link {
  font-size: 16px;
  text-emphasis: none;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

::selection {
  color: #fff;
  background-color: #333;
}

::-moz-selection {
  color: #fff;
  background-color: #333;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*TOP-NAV*/

.top-nav {
  position: fixed;
  width: 100%;
  height: auto;
  /*border-width border-style border-color */
  border-bottom: 1px solid #ccc;
}

.logo:link {
  position: relative;
  color: #484848;
  display: inline-block;
  /* default value: all 0s ease 0s
  transition: property duration timing-function delay|initial|inherit*/
  transition: all 0.4s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  float: left;
}

.logo:visited {
  color: #484848;
}

.logo:hover {
  background-color: #f1f1f1;
}

.logo img {
  position: relative;
  padding: 12px 18px;
  width: 33px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}

/*Nav Search CSS*/

#nav-search-wrapper {
  width: 490px;
  height: 100%;
  margin-left: 70px;
}

#nav-search-wrapper form input {
  padding: 22px 10px 18px 52px;
  width: 100%;
  border: none;
  outline: none;
  /*background-color: blue;*/
}
